body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
  }
  
  .top-bar {
    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajustamos el espacio entre elementos */
    background-color: #003366; /* Azul Marino */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #D9D9D9; /* Gris Claro */
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no incremente el ancho */
    z-index: 1000; /* Ajustamos el z-index para estar sobre el contenido */
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .company-name {
    font-size: 24px;
    font-weight: bold;
    color: #D9D9D9; /* Gris Claro */
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .logo {
      height: 30px;
      margin-right: 5px;
    }
  
    .company-name {
      font-size: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .top-bar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px; /* Ajuste del padding para dispositivos móviles */
    }
  
    .left-section {
      width: 100%;
      justify-content: center;
      margin-bottom: 10px; /* Espacio adicional inferior en dispositivos móviles */
    }
  
    .logo {
      height: 25px;
      margin-right: 0;
      margin-bottom: 5px;
    }
  
    .company-name {
      font-size: 18px;
    }
  }
  
  /* Slide Bar*/
  
  .sidebar {
    position: fixed;
    top: 60px; /* Ajustar según la altura de la barra superior */
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #003366; /* Azul oscuro para todo el sidebar */
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    color: #fff; /* Color del texto en todo el sidebar */
  }
  
  .user-profile {
    text-align: center;
    padding: 20px 0;
    background-color: #003366; /* Azul oscuro para el fondo del perfil de usuario */
  }
  
  .user-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff; /* Color del texto del botón de usuario */
  }
  
  .user-icon img {
    width: 80px; /* Ajustar según el tamaño del icono */
    height: 80px; /* Ajustar según el tamaño del icono */
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-name {
    font-size: 18px;
    color: #fff; /* Color del nombre de usuario */
  }
  
  .user-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #003366; /* Azul oscuro para el fondo del menú desplegable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .user-menu.show {
    display: block;
  }
  
  .user-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff; /* Color del texto en el menú desplegable */
  }
  
  .user-menu a:hover {
    background-color: #002244; /* Azul aún más oscuro para el fondo al pasar el ratón */
  }
  
  .divider {
    width: 80%;
    margin: 10px auto;
    border: 0.5px solid #004080; /* Azul oscuro más claro para la barra divisoria */
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 10px;
  }
  
  .sidebar-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff; /* Color del texto en los botones del sidebar */
    border: 1px solid transparent; /* Borde inicial transparente */
    transition: border-color 0.3s ease; /* Transición para el cambio de color */
  }
  
  .sidebar-menu li a:hover {
    background-color: #002244; /* Azul aún más oscuro para el fondo al pasar el ratón */
  }
  
  .sidebar-menu li a:active {
    border-color: #0056b3; /* Azul más claro al hacer clic */
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .sidebar {
      width: 200px; /* Ancho reducido del sidebar para dispositivos móviles */
    }
  
    .user-icon img {
      width: 60px; /* Ajuste del tamaño del icono para dispositivos móviles */
      height: 60px; /* Ajuste del tamaño del icono para dispositivos móviles */
    }
  
    .user-name {
      font-size: 16px; /* Ajuste del tamaño del nombre de usuario para dispositivos móviles */
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      width: 150px; /* Ancho aún más reducido del sidebar para dispositivos móviles pequeños */
    }
  
    .user-icon img {
      width: 50px; /* Ajuste más pequeño del tamaño del icono para dispositivos móviles pequeños */
      height: 50px; /* Ajuste más pequeño del tamaño del icono para dispositivos móviles pequeños */
    }
  
    .user-name {
      font-size: 14px; /* Ajuste más pequeño del tamaño del nombre de usuario para dispositivos móviles pequeños */
    }
  }
  
    /* Aqui va el contenido del componente */
.content {
    padding: 20px;
    margin-left: 270px; /* Ancho del sidebar, ajustar según sea necesario */
    margin-top: 60px; /* Altura de la barra superior, ajustar según sea necesario */
    width: calc(100% - 270px); /* Ajusta el ancho para el espacio del sidebar */
  }
  
  /* Estilos para el título */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el párrafo */
  p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  /* Estilos para el botón principal */
  .btn-primary {
    background-color: #007bff; /* Azul */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
  }
  
  /* Estilos para la tabla */
  .data-table {
    width: calc(100% - 20px); /* Ajusta el ancho total para dejar espacio en los bordes */
    margin: 20px -10px; /* Márgenes superior e inferior de 20px, márgenes izquierdo y derecho de 10px */
    border-collapse: collapse;
  }
  
  .data-table th,
  .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .data-table th {
    background-color: #003366; /* Azul marino */
    color: white;
  }
  
  .data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris claro para filas alternas */
  }
  
  .data-table tbody tr:hover {
    background-color: #ddd; /* Gris más oscuro al pasar el ratón */
  }
  
  /* Estilos para la sección de carga de archivos */
  .upload-section {
    margin-top: 20px;
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: flex-end; /* Alinear el contenido a la derecha */
    align-items: center; /* Alinear verticalmente al centro */
  }
  
  .upload-section p {
    margin-right: 10px; /* Espacio entre el texto y el botón */
    font-size: 16px;
  }
  
/* Estilos para el botón de carga de archivos */
.btn-upload {
  background-color: #0056b3; /* Azul más oscuro */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 35px; /* Añadir margen derecho para que no quede pegado al borde */
}

.btn-upload input[type="file"] {
  display: none; /* Ocultar el input file */
}

.btn-upload:hover {
  background-color: #003366; /* Azul marino al pasar el ratón */
}
